# Practica

In [31]:
import pandas as pd

In [32]:
import numpy as np

In [33]:
#Leemos el csv
datos = pd.read_csv('C:\master\dataset.csv')

In [34]:
datos.head()

   GridID        date      Shift  Accident  Longitude.grid  Latitude.grid
0       1  2010-10-08      Night         0            2.08          41.41
1       1  2011-02-16    Morning         0            2.08          41.41
2       1  2014-05-31      Night         0            2.08          41.41
3       1  2011-04-03  Afternoon         0            2.08          41.41
4       1  2013-02-20    Morning         0            2.08          41.41

In [35]:
datos.shape

(824587, 6)

In [36]:
datos.dtypes

GridID              int64
date               object
Shift              object
Accident            int64
Longitude.grid    float64
Latitude.grid     float64
dtype: object

In [37]:
datos['date'] =pd.to_datetime(datos['date'])

In [38]:
datos.dtypes

GridID                     int64
date              datetime64[ns]
Shift                     object
Accident                   int64
Longitude.grid           float64
Latitude.grid            float64
dtype: object

In [39]:
datos["Accident"].value_counts()

0    788070
1     36517
Name: Accident, dtype: int64

In [40]:
datos["Shift"].value_counts()

Afternoon    279847
Morning      277391
Night        267349
Name: Shift, dtype: int64

In [41]:
dummy = pd.get_dummies(datos["Shift"])
dummy.head()

   Afternoon  Morning  Night
0          0        0      1
1          0        1      0
2          0        0      1
3          1        0      0
4          0        1      0

In [42]:
datos = pd.concat([datos, dummy], axis=1)
datos.head()

,GridID,date,Shift,Accident,Longitude.grid,Latitude.grid,Afternoon,Morning,Night
0,1,2010-10-08,Night,0,2.08,41.41,0,0,1
1,1,2011-02-16,Morning,0,2.08,41.41,0,1,0
2,1,2014-05-31,Night,0,2.08,41.41,0,0,1
3,1,2011-04-03,Afternoon,0,2.08,41.41,1,0,0
4,1,2013-02-20,Morning,0,2.08,41.41,0,1,0

In [43]:
datos = datos.drop("Shift", 1)

In [44]:
datos.head()

,GridID,date,Accident,Longitude.grid,Latitude.grid,Afternoon,Morning,Night
0,1,2010-10-08,0,2.08,41.41,0,0,1
1,1,2011-02-16,0,2.08,41.41,0,1,0
2,1,2014-05-31,0,2.08,41.41,0,0,1
3,1,2011-04-03,0,2.08,41.41,1,0,0
4,1,2013-02-20,0,2.08,41.41,0,1,0

In [45]:
from datetime import datetime, date, time, timedelta
import calendar

In [46]:
Week_Day = []
for fecha in datos['date']:
    dia_semana = datetime.weekday(fecha)+1
    Week_Day.append(dia_semana)
    
datos['Week.Day'] = Week_Day

In [47]:
datos.head()

,GridID,date,Accident,Longitude.grid,Latitude.grid,Afternoon,Morning,Night,Week.Day
0,1,2010-10-08,0,2.08,41.41,0,0,1,5
1,1,2011-02-16,0,2.08,41.41,0,1,0,3
2,1,2014-05-31,0,2.08,41.41,0,0,1,6
3,1,2011-04-03,0,2.08,41.41,1,0,0,7
4,1,2013-02-20,0,2.08,41.41,0,1,0,3

In [58]:
festivos = ('1-1','6-1','19-4','22-4','1-05','10-6','24-6','15-8','11-9','24-9','12-10','1-11','6-12','25-12','26-12')

In [65]:
festive = []
for fecha in datos['date']:
    for festivo in festivos:
        aux = festivo.split("-")
        #print("Mes dataset", fecha.month, "Mes festivo", aux[1])
        #print("Dia dataset", fecha.day, "Dia festivo", aux[0])
        if ((fecha.month == aux[1]) and (fecha.day == aux[0])):
            print("Dentro")
            festive.append(1)
    festive.append(0)

datos['Festive'] = festive

In [63]:
datos.head()

,GridID,date,Accident,Longitude.grid,Latitude.grid,Afternoon,Morning,Night,Week.Day,Festive
0,1,2010-10-08,0,2.08,41.41,0,0,1,5,0
1,1,2011-02-16,0,2.08,41.41,0,1,0,3,0
2,1,2014-05-31,0,2.08,41.41,0,0,1,6,0
3,1,2011-04-03,0,2.08,41.41,1,0,0,7,0
4,1,2013-02-20,0,2.08,41.41,0,1,0,3,0

In [64]:
datos['Festive'].value_counts()

0    824587
Name: Festive, dtype: int64